<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
</head>

<body ng-app="">
    <h3>ng-style directive example</h3>
    <input type="button" value="set color" ng-click="myStyle={color:'red'}">
    <input type="button" value="set background" ng-click="myStyle={'background-color':'brown'}">
    <input type="button" value="clear" ng-click="myStyle={}">
    <br />
    <span ng-style="myStyle">Welcome to JavaTpoint!</span>
    <pre>myStyle={{myStyle}}</pre>
</body>

</html>